[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-huggingface = "*"
python-dotenv = "*"

[dev-packages]
pipenv = "*"
langchain = "*"

[requires]
python_version = "3.11"
